<!DOCTYPE html>
<html>
  <body>
    <h1>Enviroment</h1>
    <ul>
      <li>Node: {{ ansible_all_ipv4_addresses[1] }}
      <li>Environment: {{ env }}</li>
      <li>App name: {{ appname }}</li>
    </ul>
  </body>
</html>